/* senserPage.module.css */
.butt{
  margin: 16px;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .btn{
    margin-right: 24px;
  }
  .exp_xcel{
    font-size: 16px;
  }
  .frameMap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    margin: 16px auto;
    height: 450px;
  }
  @media (max-width: 982px) {
    .frameMap {
      height: 360px;
      width: 550px;
    }
  }
  @media (max-width: 912px) {
    .frameMap {
      height: 400px;
      width: 550px;
    }
  }
  @media (max-width: 821px) {
    .frameMap {
      height: 400px;
      width: 600px;
    }
  }
  @media (max-width: 670px) {
    .frameMap {
      height: 350px;
      width: 400px;
    }
  }
  @media (max-width: 586px) {
    .frameMap {
      height: 400px;
      width: 450px;
    }
  }
  @media (max-width: 391px) {
    .frameMap {
      height: 250px;
      width: 300px;
    }
  }
  @media (max-width: 280px) {
    .frameMap {
      height: 200px;
      width: 250px;
    }
  }
  